@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Setting The WebGrid Footer";
}
<ul>
    <li><a href="Table">WebGrid.Table</a></li>
    <li><a href="jQuery">jQuery</a></li>
    <li><a href="Hack">Hack</a></li>
</ul>